//CARDS
.card {
    display: inline-block;
    border-radius: 2px;
    overflow: auto;
    border: 1px solid transparent;
    transition: .2s;
    &.expanded {
        display: block;
    }
    &.hoverable {
        &:hover, &.hover {
            border-color: $hover-color;
            cursor: pointer;
        }
        &:active, &.active {
            border-color: $main-color;
        }
    }
}