//SIZES
$xlarge: 2rem;
$large: 1.5rem;
$regular: 1rem;
$small: .5rem;
$xsmall: .25rem;

//PAGE
html {
  font-size: 12px;
}

body {
  line-height: 1;
  margin: 0px;
  color: black;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}