//SIZES
$xlarge: 2rem;
$large: 1.5rem;
$regular: 1rem;
$small: .5rem;
$xsmall: .25rem;

//PAGE
html {
  font-size: 12px;
}

body {
  font-family: 'WhitneyNarrSSm-Medium', 'Whitney Narrow SSm Medium', 'Whitney Narrow SSm', sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  color: $text-color;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin: 0px;
  background: $bg-color;
}