.grid {
    margin: 0 auto;
    // max-width: 980px;
    min-width: 320px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    margin: .5rem;
}

.col-1 {
    max-width: calc(100% / 12);
}

.col-2 {
    max-width: calc(100% / 12 * 2);
}

.col-3 {
    max-width: calc(100% / 12 * 3);
}

.col-4 {
    max-width: calc(100% / 12 * 4);
}

.col-5 {
    max-width: calc(100% / 12 * 5);
}

.col-6 {
    max-width: calc(100% / 2);
}


@media screen and (max-width: 768px) {
    .container {
        overflow: auto;
    }

    .column {
        min-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}