//TAGS
.tag {

    font-family: 'WhitneyNarrSSm-Book', 'Whitney Narrow SSm Book', 'Whitney Narrow SSm Book', 'Whitney Narrow SSm', sans-serif;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    color: $text-color;
    background-color: $bg-color;
    border: 1px solid $bg-color;
    padding: 3px 10px;
    cursor: pointer;
    transition: .2s;
    &:hover, &.hover {
        color: $hover-color;
        border-color: $hover-color;
        background-color: $hover2-color;
    }
    &:active, &.active {
        color: $white-color;
        border-color: $selected-color;
        background-color: $selected-color;    
    }
}